@use "fonts.scss" as *;

:root {
  --primary: #76bdff;
  --primary-stroke: #55adff;
  --black: #000000;
  --white: #ffffff;
  --black-bg:#0d111c;


  --font-bold: "InterBold";
  --font-medium: "InterMedium";
  --font-regular: "InterRegular";
  --font-light: "InterLight";
}
