@use "fonts.scss" as *;

:root {
  --primary: #76bdff;
  --primary-stroke: #55adff;
  --black: #000000;
  --white: #ffffff;
  --dark-white: #dad7d7;
  --black-bg:#0d111c;
  --green: rgb(1, 162, 1);
  --red: #ff0000;

  --font-bold: "InterBold";
  --font-medium: "InterMedium";
  --font-regular: "InterRegular";
  --font-light: "InterLight";
}
