@use 'fonts.scss' as *;

:root {
    --primary: #76BDFF;
    --primary-stroke: #55ADFF;
    --black: #000000;
    --white: #ffffff;
    
    
    
    --font-bold: "InterBold";
    --font-medium: "InterMedium";
    --font-regular: "InterRegular";
    --font-light: "InterLight";
}


